body {
    margin: auto 0px;
    background-color: #0a0a0a;
}

canvas {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.toolBar {
    position: fixed;
    z-index: 2;
    height: 27px;
    width: 100vw;
    background: #191919;
    color: #ffffff;
    font-family: sans-serif;
}

.sliderVert {
    position: fixed;
    z-index: 2;
    top: 27px;
    height: 94vh;
    writing-mode: vertical-lr; 
}

.sliderHorz {
    position: fixed;
    z-index: 2;
    bottom: 0vh;
    width: 100vw;
}
